
body {
    background-color: #96352f;
}

.container-fluid {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* CSS for message class borrowed from foobooks example */
.message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color: green;
    font-weight: bold;
    color: white;
}

.page-header {
    background-color: #96352f;
    padding-top: 20px;
    margin-top: 30px;
    color: white;
    position: relative;
}

.page-header .header-right {
    padding-right: 20%;
    color: lightgray;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.page-header img {
    width: 100px;
}

.nav-tabs {
    padding-left: 10px;
    border-color: #96352f;
}

a {
    color: #96352f;
}

.table {
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 20px;
    width:80%;
}

.columnhide {
    display: none;
}

form {
    padding-bottom: 50px;
}

.form-title {
    padding-left: 5%;
}

.form-control {
    width: auto;
}

.btn {
    margin-top: 10px;
    width: 150px;
}

.form-group:first-of-type {
    margin-top: 25px;
}

.delete_button {
    margin-top: 30px;
}

#usher {
    color: #96352f;
}

footer {
    margin-top: 20px;
    font-size: 85%;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

footer>a {
    color: white;
}
